<nav>

    <div th:if="${session.usuariosesion != null}" class="dropdown">
        <button class="bot"> Libros </button>
        <div class="dropdown-content">
            <a sec:authorize="hasRole('ADMIN')" th:href="@{/libro/registrar}">Crear libros</a>
            <a th:href="@{/libro/lista}">Listar Libros</a>
        </div>
    </div>
    
    <div th:if="${session.usuariosesion != null}" class="dropdown">
        <button class="bot"> Autores </button>
        <div class="dropdown-content">
            <a sec:authorize="hasRole('ADMIN')" th:href="@{/autor/registrar}">Crear Autor</a>
            <a th:href="@{/autor/lista}">Listar Autores</a>
        </div>
    </div>
    
    <div th:if="${session.usuariosesion != null}" class="dropdown">
        <button class="bot"> Editoriales </button>
        <div class="dropdown-content">
            <a sec:authorize="hasRole('ADMIN')" th:href="@{/editorial/registrar}">Crear Editorial</a>
            <a th:href="@{/editorial/lista}">Listar Editoriales</a>
        </div>
    </div>
    
    <div th:if="${session.usuariosesion != null}" sec:authorize="hasRole('ADMIN')" class="dropdown">
        <button class="bot"> Usuarios </button>
        <div class="dropdown-content">
            <a  th:href="@{/admin/usuarios}">listar usuarios</a>
           
        </div>
    </div>
    
    <div class="dropdown">
        <button class="bot"> Perfil </button>
        <div class="dropdown-content">
            <a th:if="${session.usuariosesion == null}" th:href="@{/registrar}">Registrate</a>
            <a th:if="${session.usuariosesion == null}" th:href="@{/login}">Login</a>
            <a th:if="${session.usuariosesion != null}" th:href="@{/perfil}">actualizar datos</a>
            <a th:if="${session.usuariosesion != null}" th:href="@{/logout}">Salir</a>
        </div>
    </div>
</nav>
