<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html  lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
   
    <head th:replace="/fragments/head :: head" </head>
    
    <body>
        <header >
            <div class="header">
                <a href="/inicio"><h2>Biblioteca EGG</h2></a>

                <nav th:replace="/fragments/navbar :: nav" </nav>
            </div>
        </header>
        
        <div class="container">
            <h2> Cargue el Autor aqui </h2>

        </div>
    
        <div class="container">
            <form class="formulario" th:action="@{/autor/registro}" method="POST">
                
                <div class="form-gorup">
                    <input type="text" class="form-group" name="nombre" placeholder="nombre del autor">            
                </div>
                    
                <button type="submit" class="btn btn-primary"> subir </button>
                
            </form>
             <div class="container">
            <a href="/autor/lista"><button> Listado Autores</button></a>
        </div>
                
        </div>
        
         <div th:if="${error != null}" class="card text-white bg-danger nb-3 mensajeError" >
            <div class="car-body">
                <h5 class="card-title"> Error :(</h5>
                <p class="card-text" th:text="${error}" > </p>
            </div>
            
        </div>
        
        <div th:if="${exito != null}" class="card text-white bg-danger nb-3 mensajeError" >
            <div class="car-body">
                <h5 class="card-title"> Exito! :(</h5>
                <p class="card-text" th:text="${exito}"> </p>
            </div>
            
            
    </body>
</html>
