<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html  lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
   
    <head th:replace="/fragments/head :: head" </head>
    
    <body>
        <header >
            <div class="header">
                <a href="/inicio"><h2>Biblioteca EGG</h2></a>

                <nav th:replace="/fragments/navbar :: nav" </nav>
            </div>
        </header>

        <div class="container">
            <h2> Cargue la Editorial aqui </h2>

        </div>

        <div class="container">
            <form class="formulario" th:action="@{/editorial/registro}" method="POST">

                <div class="form-gorup">
                    <input type="text" class="form-group" name="nombre" placeholder="nombre de la editorial">            
                </div>

                <button type="submit" class="btn btn-primary"> subir </button>

            </form>

        </div>
        
        <div class="container">
            <a href="/editorial/lista"><button> Listado Editoriales</button></a>
        </div>
    </body>
</html>