<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
   
    <head th:replace="/fragments/head :: head" </head>
    
    <body>
        <header>
            <div class="header">
                <a href="/inicio"><h2>Biblioteca EGG</h2></a>

                <nav th:replace="/fragments/navbar :: nav" </nav>
            </div>
        </header>
        
        
            <div class="container">
                
                <h2> Bienvenido! </h2>
            <form th:action="@{/logincheck}" method="POST">
                
             
                 <div class="form-gorup">
                    <label for="email"> E-mail</label>
                    <input type="email" class="form-group" name="email" placeholder="usuario@egg.com">            
                </div>      
                <div class="form-gorup">
                    <label for="password"> Password</label>
                    <input type="password" class="form-group" name="password" placeholder="password">            
                </div>
                    
                <button type="submit" class="btn btn-primary"> Ingresar </button>
                
            </form>
                    
            </div>
            
        
        
        
        
        
        
       
    </body>
</html>
